img.wp-smiley,
	img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 .07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
	
	#line_1021{
		height:600px; 
		background-color:red;
		width:100%;
		float:center;
	}
	#line_1023{
		height:350px; 
		width:100%;
		float:center; 
		float:center;
		margin-top:5px; 
	}
	#line_1027{
		
		float:left;
		width:100%;
		height:350px; 
		padding:10px; 
	}
	#line_1038{
		width:35%;
		float:left; 
		height:50px;
	}
	
	#line_1042{
		width:30%; float:right; height:50px; 
	}
	
	
	#line_1043{
	width:35%; 
	float:right;
	height:50px;	
	}
	#input_pin{
		border-color:DarkGray;border-width:1px;border-style:Solid;width:200px;
	}
	
	#line_1066{
		width:100%; 
		height:100px;
		padding:10px;
	}

	#error_message_div{
		width:100%;
		
		height:15px; 
		text-align:left; 
		color:red;
		font-weight:bolder; 
	}