SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeclineInValue_ParameterDates](
	[RollYYYY] [int] NOT NULL,
	[LienDate] [varchar](10) NULL,
	[Proactive_AlternatePurchaseDateBegin] [datetime] NULL,
	[Proactive_PurchaseDateBegin] [datetime] NULL,
	[Proactive_PurchaseDateEnd] [datetime] NULL,
	[Prop8Application_FileDateBegin] [datetime] NOT NULL,
	[Prop8Application_FileDateEnd] [datetime] NOT NULL,
	[AABS_FileDateBegin] [datetime] NOT NULL,
	[AABS_FileDateEnd] [datetime] NOT NULL,
	[PriorAssessmentYear] [int] NULL,
	[QualificationsWillBeAvailable_when] [varchar](50) NULL,
	[ResultsWillBeAvailable_when] [varchar](50) NULL,
	[ResultsAreNowAvailableOnline_YesNo] [char](1) NOT NULL,
	[NoticeLettersBeginMailDate] [datetime] NULL,
 CONSTRAINT [PK_DeclineInValue_ParameterDates] PRIMARY KEY CLUSTERED 
(
	[RollYYYY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
-------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeclineInValue_FileDate](
	[FileDate] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DeclineInValue_FileDate] ([FileDate]) VALUES (CAST(0x0000A51D006B5190 AS DateTime))
GO

-------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeclineInValue_ParcelStatus](
	[RecID] [int] NOT NULL,
	[AIN] [char](10) NOT NULL,
	[RollYYYY] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
	[DateRemoved] [datetime] NULL,
	[isProp8Restoration] [char](1) NULL,
	[isProactiveProp8] [char](1) NULL,
	[statusApplication] [char](1) NULL,
	[statusRequestReview] [char](1) NULL,
	[isOtherValuation] [char](1) NULL,
	[Prop8_LandValue] [int] NULL,
	[Prop8_ImpValue] [int] NULL,
	[Prop8_ExemptionType] [varchar](20) NULL,
	[Prop8_ExemptionAmount] [int] NULL,
	[OptionalMessage] [varchar](1000) NULL,
	[LastLetterMailDate] [datetime] NULL,
	[LastLetterType] [char](1) NULL,
	[OnlineFiling_projectedLandImpValue] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [idxDIV_ParcelStatus_AIN_RollYYYY] ON [dbo].[DeclineInValue_ParcelStatus] 
(
	[AIN] ASC,
	[RollYYYY] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
GO