SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ParcelDataRepository_FileDate](
	[EffectiveDate] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ParcelDataRepository_FileDate] ([EffectiveDate]) VALUES (N'09/20/2015')
GO

---------------------------------------------------------------------------------------------

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ParcelDataRepository](
	[AIN] [char](10) NOT NULL,
	[ParcelStatus] [varchar](10) NULL,
	[ParcelCreateDate] [int] NULL,
	[ParcelDeleteDate] [int] NULL,
	[Region] [char](2) NULL,
	[Cluster] [char](5) NULL,
	[UseCode] [char](4) NULL,
	[UseType] [varchar](3) NOT NULL,
	[SitusHouseNo] [varchar](5) NULL,
	[SitusFraction] [varchar](3) NULL,
	[SitusDirection] [char](1) NULL,
	[SitusUnit] [varchar](8) NULL,
	[SitusStreet] [varchar](32) NULL,
	[SitusCity] [varchar](24) NULL,
	[SitusZIP] [varchar](10) NULL,
	[Units] [int] NULL,
	[Bedrooms] [int] NULL,
	[Bathrooms] [int] NULL,
	[SQFTmain] [int] NULL,
	[pdbRecDate] [char](11) NULL,
	[isMailCopySitus] [varchar](1) NOT NULL,
	[MailHouseNo] [varchar](5) NULL,
	[MailFraction] [varchar](3) NULL,
	[MailDirection] [char](1) NULL,
	[MailUnit] [varchar](8) NULL,
	[MailStreet] [varchar](32) NULL,
	[MailCity] [varchar](24) NULL,
	[MailZip] [varchar](10) NULL,
	[RollYYYY] [int] NULL,
	[RollLandImpValue] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [idxParcelDataRepository_AIN_RollYYYY] ON [dbo].[ParcelDataRepository] 
(
	[AIN] ASC,
	[RollYYYY] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO